# Laravel & PHP
/vendor
/.phpunit.cache
/.phpactor.json
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/storage/*.key
/storage/pail

# Ignore all files in these directories
resources/js/actions/
resources/js/routes/

# Node & build
/node_modules
/public/build
/public/hot
npm-debug.log
yarn-error.log

# Env files
.env
.env.backup
.env.production
/auth.json

# IDE/editor
/.idea
/.vscode
/.fleet
/.zed
.DS_Store

# SSR
/bootstrap/ssr
